<section ng-controller="AppController as wpDetails">
	<section class="wp-body">
		<section class="page-container text-center">
			<section class="wp-body__header">
				<h3 class="clear-margin wp-body__header__content"> US Weather Predictor</h3>
			</section>
			<section class="wp-body__introduction">
				<p class="media-body">
					Get the United states weather forecast here. May be time to follow what it says..
				</p>
			</section>
			<hr class="wp-divider"/>
		</section>
		<section>
			<form name="weather-search" no-validate ng-submit="wpDetails.app.getWeatherInformation()">
			  	<label for="search">Enter Location name/zip code of the area</label>
			  	<input type="text" name="LCode" id="search" ng-model=wpDetails.search.input><br>
			  	<input type="submit" value="Submit" >
			</form> 
			<section class="margin-10 wp-result-container text-center" ng-if="wpDetails.search.output!=null && wpDetails.search.fetching==false">
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						<div class="sprite clock"> </div>Time (at time of weather info calculation)
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.dt | date:'hh:mm:ss'}}
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						<div class="sprite sunrise"> </div> Sunrise
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.sys.sunrise | dateFormat}}
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						<div class="sprite sunrise"> </div> Sunset
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.sys.sunset | dateFormat}}
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						<div class="sprite humidity"> </div>Humidity
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.main.humidity}}%
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						Temparature
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.main.temp}} °C 
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						Temparature Maximum
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.main.temp_max}} °C 
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						Temparature Minimum
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.main.temp_min}} °C 
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						Pressure (in hpa)
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.main.pressure}}
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						Visibility
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.weather[0].main}}
					</div>
				</div>
				<div class="wp-result-container__group">
					<div class="wp-result-container__group__label">
						Wind (in mps)
					</div>
					<div class="wp-result-container__group__value">
						{{wpDetails.search.output.wind.speed}}
					</div>
				</div>

			</section>
			<section class="margin-10 wp-screen-handler text-center" ng-if="wpDetails.search.output==null">
				<section class="wp-screen-handler__data-loading" ng-show="wpDetails.search.fetching==true">
					<div class="sprite data-loading"></div>
					<p class="text-center">
						Please relax till we fetch the data....
					</p>
				</section>
				<section class="wp-screen-handler__service-issue" ng-show="wpDetails.search.service.issue == true">
					{{wpDetails.search.service.message}}
				</section>
			</section>
		</section>
	</section>
	<article class="wp-footer">
		All rights @Prasanna 
	</article>
</section>


